<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Login | Boogle</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<center>
<div class="container">
    <div class="logo-block">
        <img src="/static/img/boogle logo.png" class="title-image" width="100px" alt="boogle logo">
    </div>

    <div class="title-block">
        <p class="login-title">Jedan račun. Sve za Boogle</p>
    </div>

    <div class="signin-block">
        <h1 class="login-text">Prijavi se sa svojim Boogle računom</h1>

        <div class="account-wall">
            <img class="profile-img" src="/static/img/anonymous.png" alt="profile picture">

            <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Lozinka" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Prijavi se</button>
            </form>
        </div>

        <a href="#" class="new-account">Kreiraj račun </a>
    </div>
</div>
    </center>
</body>
</html>